@charset "UTF-8";
body {
	font-size: 62.5%;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	text-decoration: none;
	color: #000;
	font-weight: 400
}
body,button,dd,dl,figure,form,h1,h2,h3,h4,h5,h6,iframe,img,input,li,ol,option,p,select,textarea,ul {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none
}
button,img,input {
	vertical-align: middle
}
a {
	color: inherit;
	text-decoration: none
}
:-ms-input-placeholder {
	color: #73706a
}
input::-webkit-input-placeholder {
	color: #73706a
}
textarea::-webkit-input-placeholder {
	color: #73706a
}
img {
	vertical-align: middle;
	width: 100%
}
a:focus {
	outline: 0
}
input:focus,textarea:focus {
	outline: 0
}
embed,iframe {
	max-width: 100%
}
select {
	border-radius: 0;
	-webkit-appearance: none
}
html,body {
	position: relative;
	height:100%;
}
.clear {
	clear: both;
}
/*菜单*/
.icon{
	width: 10.59%;
	position: fixed;
	right: 2.6%;
	left: auto;
	top: 4.4%;
	cursor: pointer;
	z-index: 12;
}
.mylay{	
	background-color: #000;
	opacity: 0.5;
	z-index: 10;
	position: absolute;
	top:0;
	right: 0;
	left: auto;
	width: 100%;
	height: 100%;
	display: none;
} 
.close{
	width: 10.59%;
	height: 4.3%;
	position: fixed;
	right: 50.6%;
	left: auto;
	top: 4.4%;
	cursor: pointer;
	display: none;
}
.nav{
	width: 40.57%;
	height: 100%;
	background: url(../img/mz.jpg);
	position: fixed;
	top: 0;
	right: 0;
	left: auto;
	padding-top: 5.46%;
	line-height: 3vw;
	z-index: 12;
	display: none;
}
.nav li{
	height:1.8rem;
}
.nav li a{
	text-align: left;
	font-size: 1.8rem;
	line-height: 1.8rem;
	font-weight: bold;
	color: #000;
	font-family: "黑体";
	display: block;
	width: 100%;
	position: absolute;
	left: 100%;

}
.home{
	top: 12.94%;
}
.lianxi{
	top:23.86%;
}
.guanyu{
	top: 36.34%;
}
.weibo,.weixin{
	width: 33.75%;
	height: 12.94%;
	display: block;
	position: absolute;
	left: 33.18%;
}
.weibo{
	top:46.92%;
}
.weixin{
	top:65.92%;
}

/*contact_us*/
.contact_us_wrap{
	width:90%;
	height:100%;
	margin-left: 4.5%;
	background-color: #f8f8f8;
}
.contact_us{
	padding-top: 6%;
	background-color: #f8f8f8;
	overflow: hidden;
}


/*left_bar*/
.left_bar{
	width: 25.62%;
	background-color: #fff;
	float: left;
	border-left: 1px solid #ecedef;
}
.btn1,.btn2,.btn3{
	width: 86.15%;
	position: relative;
	margin-left: 8.76%;
}
.btn1{
	margin-top: 2.97%;
	height: 4.67%; 
}


.y_point{
	width: 8.28%;
	height: 35.42%;
	position: absolute;
	left: -2%;
}
.btn1 .y_point{
	top: 30%;	
}
.btn2 .y_point{
	top:-10%;	
}
.btn3 .y_point{
	top:-10%;	
}
.btn{
	display: block;
	background-color: #fff;
	text-align: center;
	padding:0 10.71%;
	cursor: pointer;
	font-size: 0.05rem;
	outline: none;
}
.contact_way{
	margin-top:2.8%; 
}


/*right_cont*/
.right_cont{
	width: 73.37%;
	height: 100%;
	background-color: #f8f8f8;
	float: left;

}
.rc_tit{
	width: 70.15%;
	height: 7.15%;
	background-color: #f3f3f3;
	margin-left: 2.42%;
	font-size: 0.8rem;
	line-height: 100%;
	padding:2.2% 0 2.2% 4%;
	border-radius: 4px;
}
.rc_contents{
	width: 85.68%;
	margin: 4.05% 0 0 10.95%;
	font-size: 0.02rem;
	color: #3a3a3a;
	text-indent: 2em;
}

.rc_table{
	border:1px solid #ccc;
	margin: 5% 0 0 3%;
	font-size: 0.0.5rem;
	margin-bottom: 10%;
	/* margin-right: 3%; */
}
.rc_table td,.rc_table th{
	width: 5%;
	text-align: center;
	border:1px solid #ccc;
	padding: 0.5% 0%;
	font-size: 14px;
	background-color: #fff;
}

/*关于我们页面*/
h3{
	margin-left: 5%;
	margin-top: 2.5%;
	font-family: "黑体";
	font-size: 1rem;
}
.ms_contents{
	width: 84.68%;
	margin: 1.05% 0 5% 8.95%;
	font-size: 0.05rem;
	color: #3a3a3a;
	text-indent: 2em;
	line-height: 22px;
}





